# Synthesus AIOS - GRUB UEFI Configuration

set timeout=5
set default=0

menuentry "Synthesus AIOS 4.0 (AIVM Hardened)" {
    search --set=root --file /boot/vmlinuz-linux
    linux /boot/vmlinuz-linux console=tty0 console=ttyS0,115200 aivm.mode=production aivm.net=pxe_ipv4 rw
    initrd /boot/initramfs-linux.img
}

menuentry "Synthesus AIOS 4.0 (Safe Mode - No Tools)" {
    search --set=root --file /boot/vmlinuz-linux
    linux /boot/vmlinuz-linux console=tty0 console=ttyS0,115200 aivm.mode=production aivm.net=pxe_ipv4 aivm.safe_mode=1 rw
    initrd /boot/initramfs-linux.img
}
